<div class="row">
  <div *ngIf="fighters" class="col-sm-12"><!---->
    <img src="assets/images/surrealistic_ground.jpg" alt="Sila Jumbotron" class="img-fluid"/>
  </div>
  <div *ngIf="turrets" class="col-sm-12">
    <img src="assets/images/red_ground_3.jpg" alt="Sila Jumbotron" class="img-fluid"/>
  </div>
  <div *ngIf="civilians" class="col-sm-12">
    <img src="assets/images/red_ground.jpg" alt="Sila Jumbotron" class="img-fluid"/>
  </div>
  <div *ngIf="logistic" class="col-sm-12">
    <img src="assets/images/red_ground_2.jpg" alt="Sila Jumbotron" class="img-fluid"/>
  </div>
</div>
<app-object-in-construction [someInput]="inputValue" [objectToDisplay]="objectToDisplay"></app-object-in-construction>
<div class="container">
  <div class="row">
    <div *ngFor="let unit of userUnits" class="col-sm-3 text-center bordered">
      <div class="my-2">
        <div class="overlay">
          <!-- <div class="picture"> -->
            <img src="assets/images/metal_mine.jpg" alt="Ship item" class="img-fluid" />
          <!-- </div> -->
          <div class="pictured">
            <div class="popup_content">
              <p>{{ this.valueFormatter.formatBackIdToTitleValue(unit[3]) }} level {{ unit[4] }}</p>
              <div class="row">
                <div class="col-sm-4">
                  <img src="assets/images/metal.jpg" alt="Metal Ressource" class="img-fluid ressource" />
                </div>
                <div class="col-sm-4">
                  <img src="assets/images/metal.jpg" alt="Crystal Ressource" class="img-fluid ressource" />
                </div>
                <div class="col-sm-4">
                  <img src="assets/images/metal.jpg" alt="Gas Ressource" class="img-fluid ressource" />
                </div>
              </div>
              <div class="row textColorWhite">
                <div class="col-sm-4">
                  {{ unit[0] }}
                </div>
                <div class="col-sm-4">
                  {{ unit[1] }}
                </div>
                <div class="col-sm-4">
                  {{ unit[2] }}
                </div>
              </div>
              <button type="button" (click)="updateUnits(unit[3],0)" class="btn btn-danger mr-1">Downgrade</button>
              <button type="button" (click)="updateUnits(unit[3],1)" class="btn btn-success ml-1">Upgrade</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
