<div class="row topSpace">
  <a class="navbar-brand" [routerLink]="''">
    <img src="/assets/images/logo.png" alt="logo Sildoria Stories" class="create-account-logo">
  </a>
</div>
<div class="row">
  <div class="col-sm-1">
  </div>
  <div class="col-sm-4">
    <app-connexion class="app-connexion"></app-connexion>
  </div>
  <div class="col-sm-6">
    <video class="video" controls>
      <source src="assets/video/videoDefaultHTML.mp4" type="video/mp4">
      Your browser does not support HTML video.
    </video>
  </div>
</div>
<div class="row">
  <!-- Social Links Container -->
  <!-- Get social links pictures and links in assets/pictures -->
<div class="row social" align="center">
   <a target = "blank" href = 'https://www.twitch.tv/daisychaincosplay'><i class="fab fa-twitch"></i></a>
   <a target = "blank" href = 'https://www.youtube.com/channel/UC-gCUMK_EGUqJ7P9VA7BJmQ'><i class="fab fa-youtube"></i></a>
   <a target = "blank" href = 'https://twitter.com/codingCommander' ><i class="fab fa-twitter"></i></a>
   <a target = "blank" href = 'https://www.facebook.com/codingcommanders/'><i class='fab fa-facebook'></i></a>
   <a target = "blank" href = 'https://www.instagram.com/codingcommanders'><i class='fab fa-instagram'></i></a>
   <a target = "blank" href = "https://discordapp.com/invite/AeUvu7v"> <i class="fab fa-discord"></i></a>
 </div>
</div>
